body,
html {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
